<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techie.navigation"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".sample1.ActionBarActivity"
            android:label="@string/actionbar_activity"/>
        
        <activity 
            android:name=".sample2.ToolbarActivity"
            android:label="@string/toolbar_activity"
            android:theme="@style/ToolbarActivityTheme"/>
        
        <activity 
            android:name=".sample3.FullHeightNavDrawerActivity"
            android:label="@string/full_height_nav_drawer_activity"
            android:theme="@style/FullHeightNavDrawerActTheme"/>
        
    </application>

</manifest>
